body
{
    background-color: #1B191A;
    position: relative;
    width: 1440;
    height: 900;
    color: #FFFFFF;
    font-family: 'Lato';
}

.div_text
{
    position: absolute;
    width: 450px;
    left: 100px;
    top: 90px;
}
h1
{ 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 116px;
    line-height: 97px;
}
p
{
    position: absolute;
    left: 0;
    font-size: 23px;
    line-height: 29px;
}
.p1 { top: 205px ; } 
.p2 { top: 310px; } 

img 
{
    position: absolute;
    width: 785px;
    height: 741px;
    left: 615px;
    top: 50px;
}
figcaption 
{
    position: absolute;
    width: 325px;
    left: 915px;
    top: 815px;
    font-size: 20px;
    line-height: 31px;;
}

.divVec4
{
   position: relative;
   width: 1440px;
   height: 52.5px;
   top: 440px;
}
object { position: absolute; }
.vec1 { left: 25px; }
.vec2 { left: 1375px;}