body 
{
     background-color: #1B191A;
     position: relative;
     color: #FFFFFF;
     width: 1440;
     height: 900;
     font-family: 'Lato', sans-serif;
}
.div1
{
     position: absolute;
     width: 320px;
     height: 670px;
     left: 100px;
     top: 140px;
}
ul
{   
     position: absolute;
     list-style-type: none;
     margin-top: 0px;
     height: 90px;
     font-weight: bold;
     font-size: 63px;
     line-height: 140px;
}
.div2
{
     position: absolute;
     width: 800px;
     height: 750px;
     left: 600px;
     top: 100px;
     background: #1B191A;
     border: 4px solid #FFFFFF;
     box-sizing: border-box;
}
h1
{   
     position: absolute;
     width: 790px;
     height: 280px;
     margin-top: 95px;
     font-weight: 300;
     font-size: 137px;
     line-height: 100%;
     display: flex;
     align-items: flex-end;
     text-align: center;
     letter-spacing: -0.01em;
     text-transform: uppercase;
     animation-name: example;
    animation-duration: 4s;
}
@keyframes example 
{
     0%   {color: red;}
     25%  {color: yellow;}
     50%  {color: blue;}
     100% {color: green;}
}
p 
{  
     position: absolute;
     width: 306px;
     height: 236px;
     left: 465px;
     margin-top: 470px;
     font-style: normal;
     font-weight: normal;
     font-size: 38px;
     line-height: 49px;
}
/* unvisited link */
a:link {
     color:#FFFFFF;
     text-decoration: none;
}
/* visited link */
a:visited 
{
     color: #FFFFFF;
     text-decoration: none;
}
/* mouse over link */
a:hover 
{
     color: #C4C4C4;
     text-decoration: underline;            
}
