body
{
    background-color: #1B191A;
    position: relative;
    width: 1440;
    height: 900;
    color: #FFFFFF;
    font-family: 'Lato';
}
.div3
{
    position: absolute;
    width: 450px;
    left: 100px;
    top: 157px;
}
h1
{ 
    position: absolute;
    left: 0;
    top: 0;
    font-size: 116px;
    line-height: 97px;
}
p
{
    position: absolute;
    left: 0;
    font-size: 23px;
    line-height: 28px;
}
.p1
{
    top: 190px ;
} 
.p2
{
    top: 310px;
} 
img 
{
    position: absolute;
    width: 785px;
    height: 741px;
    left: 615px;
    top: 69px;
}
figcaption 
{
    position: absolute;
    width: 325px;
    height: 28px;
    left: 915px;
    top: 825px;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;;
}
.divVec4
{
   position: absolute;
   width: 1300px;
   height: 52.5px;
   top: 450px;
}

/* unvisited link */
a:link {
    color:#FFFFFF;
    text-decoration: none;
}
/* visited link */
a:visited 
{
    color: #FFFFFF;
    text-decoration: none;
}
/* mouse over link */
a:hover 
{
    color: #C4C4C4;
    text-decoration: underline;            
}